/*agregamos fuentes*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

#inicio {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("https://img.freepik.com/foto-gratis/imagen-primer-plano-programador-trabajando-su-escritorio-oficina_1098-18707.jpg?w=996&t=st=1688651098~exp=1688651698~hmac=611bf4599838b1af732d151287cf699b887f9281a4b66990dff50d7e560f6042");
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

#inicio .contenido header {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

#inicio .contenido header .contenido_header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

}

#inicio .contenido header .contenido_header h1 {
    text-align: center;
    color: #ff5080;
}

#iconos_nav {
    color: #fff;
}

#inicio .contenido header .contenido_header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

#inicio .contenido header .contenido_header nav ul li a {
    text-decoration: none;
    color: #fff;
    margin: 0 12px;
    font-weight: 400;
    transition: .5s;
}

#inicio .contenido header .contenido_header nav ul a:hover {
    color: #ff5080;
}

#inicio .contenido header .contenido_header .redes a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-left: 10px;
    transition: .5s;
}

#inicio .contenido header .contenido_header .redes a:hover {
    color: #ff5080;
}

#inicio .contenido .presentacion {
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.descripcion {
    animation: tracking-in-contract 3s reverse
}

@keyframes tracking-in-contract {
    0% {
        letter-spacing: .2em;
        opacity: 0
    }

    10% {
        opacity: .6
    }

    100% {
        letter-spacing: normal;
        opacity: 1
    }
}

#inicio .contenido .presentacion .bienvenida {
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#inicio .contenido .presentacion h2 {
    font-size: 55px;
    margin-bottom: 25px;
    text-align: center;
}

#inicio .contenido .presentacion h2 span {
    font-size: 25px;
    color: #ff5080;
}

#inicio .contenido .presentacion h2 span:hover {
    color: white;
    transition: .5s;
    text-shadow: 2px 2px 8px #ff5080;
}

#inicio .contenido .presentacion .descripcion {
    max-width: 700px;
    margin: 25px auto;
    font-size: 18px;
    text-align: center;
}

#inicio .contenido .presentacion a {
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 20px 25px;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
}

#inicio .contenido .presentacion a:hover {
    background: #ff5080;

    animation: shake-horizontal 0.8s linear both
}

@keyframes shake-horizontal {

    0%,
    100% {
        transform: translateX(0)
    }

    10%,
    30%,
    50%,
    70% {
        transform: translateX(-10px)
    }

    20%,
    40%,
    60% {
        transform: translateX(10px)
    }

    80% {
        transform: translateX(8px)
    }

    90% {
        transform: translateX(-8px)
    }
}

#icono_nav {
    display: none;
    color: #fff;
}

/*seccion sobre mi*/


#sobremi {
    max-width: 1100px;
    margin: auto;
    padding: 100px 15px;
    color: #111135;
    display: flex;
}

#sobremi .contenedor_foto {
    max-width: 400px;
    margin-right: 80px;
}

#sobremi .contenedor_foto img {
    padding: 20px;
    width: 380px;
    border-radius: 20px;
    background-color: #f3f3f3;
}

#sobremi .sobremi {
    margin: 0 40px;
}

#sobremi .sobremi .titulo_seccion {
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#sobremi .sobremi h2 {
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;
}

#sobremi .sobremi h2 span {
    color: #ff5080;
}

#sobremi .sobremi h3 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

#sobremi .sobremi p {
    font-size: 14px;
    line-height: 25px;
    color: #565656;
    margin-bottom: 12px;
}

#sobremi .sobremi a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    padding: 10px 20px;
    border-radius: 30px;
    border: 1px solid #000;
    margin-top: 30px;
    transition: .5s;
}

#sobremi .sobremi a:hover {
    background: #ff5080;

    animation: shake-horizontal 0.8s linear both
}

@keyframes shake-horizontal {

    0%,
    100% {
        transform: translateX(0)
    }

    10%,
    30%,
    50%,
    70% {
        transform: translateX(-10px)
    }

    20%,
    40%,
    60% {
        transform: translateX(10px)
    }

    80% {
        transform: translateX(8px)
    }

    90% {
        transform: translateX(-8px)
    }
}

/*seccion servicios*/

#servicios {
    padding: 100px 15px;
    text-align: center;
    background-color: #f3f3f3;
}

#servicios .titulo_seccion {
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#servicios .fila {
    display: flex;
    justify-content: space-between;
    max-width: 1600px;
    margin: 30px auto;
}

#servicios .fila .servicios {
    max-width: 350px;
    background-color: #fff;
    padding: 30px;
    margin: 0 5px;
    border-right: 5px;
    transition: .3s;
}

#servicios .fila .servicios:hover {
    box-shadow: 5px 5px 10px#565656, -5px -5px 10px #8a8a8a;
    color: #ff5080;

}

#servicios .fila .servicios h4 {
    font-size: 22px;
    margin-bottom: 25px;
}

#servicios .fila .servicios .icono {
    display: inline-block;

    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #d3d3d3;
    margin-bottom: 25px;
}

#servicios .fila .servicios hr {
    width: 30px;
    margin: auto;
    color: #000;
    margin-bottom: 25px;
}

#servicios .fila .servicios ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#servicios .fila .servicios p {
    font-size: 14px;
    line-height: 22px;
}

/*seccion habilidades*/

.contenedor_skills {
    background: linear-gradient(#eb5a5acc, rgba(33, 16, 16.8)), url();
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 100px 0;
    text-align: center;
}

.contenedor_skills .skils {
    max-width: 600px;
    margin: 30px auto;
}

.contenedor_skills .skils .info {
    display: flex;
    justify-content: space-between;
}

.contenedor_skills .skils .lista {
    display: inline-block;
    margin-right: 20px;
    height: 10px;
    width: 10px;
    background-color: #fff;
}

.contenedor_skills .skils .barra {
    background-color: #919191;
    width: 100%;
    height: 6px;
    margin: 10px 0;
}

/*estilos para luego*/

.contenedor_skills .skils .barra .barra_progreso1 {
    background-color: #fff;
    width: 95%;
    height: 6px;
    animation: progreso1 2s forwards;
}

.contenedor_skills .skils .barra .barra_progreso2 {
    background-color: #fff;
    width: 90%;
    height: 6px;
    animation: progreso2 2s forwards;
}

.contenedor_skills .skils .barra .barra_progreso3 {
    background-color: #fff;
    width: 90%;
    height: 6px;
    animation: progreso3 2s forwards;
}

.contenedor_skills .skils .barra .barra_progreso4 {
    background-color: #fff;
    width: 85%;
    height: 6px;
    animation: progreso4 2s forwards;
}

@keyframes progreso1 {
    0% {
        width: 0;
    }

    100% {
        width: 95%
    }
}

@keyframes progreso2 {
    0% {
        width: 0;
    }

    100% {
        width: 90%
    }
}

@keyframes progreso3 {
    0% {
        width: 0;
    }

    100% {
        width: 90%
    }
}

@keyframes progreso4 {
    0% {
        width: 0;
    }

    100% {
        width: 85%
    }
}

/*seccion portfolio*/

#portfolio {
    max-width: 1100px;
    padding: 100px 0;
    margin: auto;
}

#portfolio .titulo_seccion_portfolio {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#portfolio .fila {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

#portfolio .fila .proyecto {
    max-width: 450px;
    border: 1px solid #000;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
}



#portfolio .fila .proyecto img {
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    object-fit: cover;
    transition: .3s;
}

#portfolio .fila .proyecto:hover img {
    filter: grayscale(0);
}

#portfolio .fila .proyecto .info {
    position: absolute;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    color: #ff5080;
    width: 100%;
    padding: 10px;
    opacity: 0;
    bottom: -40px;
    transition: .3s;
}

#portfolio .fila .proyecto:hover .info {
    opacity: 1;
    bottom: 0;
}

.entre_otros {
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
}

.entre_otros {
    background: black;
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    color: #ff5080;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    border-radius: 24px;
}

.entre_otros::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, red, blue, deeppink, blue, red, blue, deeppink, blue);
    background-size: 800%;
    border-radius: 10px;
    filter: blur(8px);
    animation: glowing 20s linear infinite;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

footer {
    text-align: center;
    background-color: #000;
    color: white;
    padding: 30px 0;
}

footer a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 5px;
    font-size: 26px;

}

/*seccion responsive*/

@media screen and (max-width:800px) {


    nav {
        display: none;
        background-color: #000;
    }

    nav.responsive {
        display: block;
        background-color: rgba(0.0.0..8);
        width: 100%;
        position: absolute;
        top: 48px;
        left: 0;
        padding: 10px 0;
    }

    nav.responsive ul {
        display: block !important;
        text-align: center;
    }

    nav.responsive ul li {
        margin: 5px 0;
    }

    #iconos_nav {
        display: block;

    }

    #inicio .contenido .presentacion h2 {
        font-size: 40px;

    }

    #sobremi {
        padding: 50px 0;
        display: block;
    }

    #sobremi .contenedor_foto {
        max-width: 390px;
        margin: auto;

    }

    #sobremi .contenedor_foto img {
        padding: 0px;
    }

    #sobremi .sobremi .titulo_seccion {
        text-align: center;
    }

    #sobremi .sobremi h2 {
        font-size: 25px;
        text-align: center;
    }

    #servicios {
        padding: 50px 15px;
    }

    #servicios .fila {
        display: block;
    }

    #servicios .fila .servicios {
        margin: 10px auto;

    }

    .contenedor_skills {
        padding: 50px 20px;
    }

    #portfolio {
        padding: 50px 0;
    }

    #portfolio .fila {
        display: block;
        margin: auto;
    }

    #portfolio .fila .info_special {
        display: block;
        margin: 20px 0;
    }

    #portfolio .fila .proyecto {
        margin: 10px auto;
    }

    footer {
        display: block;
    }

    .redes {
        display: block
    }

}